table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 60%;
    margin: auto;
    text-align: center;
}

#hidden-table {
    border-collapse: collapse;
    border-style: hidden;
    width: 60%;
    margin: auto;
    text-align: center;
}

th,
td {
    border: 2px solid black;
    padding: 8px;
}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 100px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}
